/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-brand {
  font-size: 42px;
}

.row {
  margin-right: 0px;
}

.tree-folder-header {
  width: 24px;
}

.tree-folder, .tree-folder-header, .tree-folder-name {
  overflow: visible;
  float: left;
  display: block;
}

.tree {
  overflow-x: scroll !important;
  border: none !important;
}

.glyphicon-empty {
  width: 14px;
}
